<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatismutildatasource.dao.cluster.CityDao">
    <resultMap id="cityResultMap" type="com.example.mybatismutildatasource.domain.cluster.City">
        <result column="id" property="id"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>
    <parameterMap id="City" type="com.example.mybatismutildatasource.domain.cluster.City"/>
    <select id="getCityByName" resultMap="cityResultMap" parameterMap="City">
        select *
        from city
        where city_name = #{cityName}
    </select>
</mapper>